<?xml version="1.0"?>
<ruleset name="OD FAQ Chatbot">
	<description>WordPress Coding Standards for OD FAQ Chatbot.</description>

	<file>.</file>

	<exclude-pattern>*/node_modules/*</exclude-pattern>
	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/build/*</exclude-pattern>
	<exclude-pattern>*/dist/*</exclude-pattern>
	<exclude-pattern>*/.wp-env/*</exclude-pattern>

	<arg name="extensions" value="php"/>
	<arg name="parallel" value="8"/>

	<config name="testVersion" value="7.4-"/>

	<rule ref="WordPress"/>
	<rule ref="WordPress-Extra"/>
	<rule ref="WordPress-Docs"/>
	<rule ref="PHPCompatibilityWP"/>
	<rule ref="WordPress.Files.FileName">
		<exclude name="WordPress.Files.FileName.InvalidClassFileName"/>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="od_faq_chatbot"/>
				<element value="OD_FAQ_Chatbot"/>
				<element value="OD_FAQ_CHATBOT"/>
			</property>
		</properties>
	</rule>
</ruleset>
